<section class="section-padding">
    <div class="container">
        <div class="row">
            <h3 class="page-title">Dernières nouvelles</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="blog-slider owl-carousel owl-theme">
                <!-- Blog Item -->
                <div class="item">
                    <div class="blog-box">
                        <div class="blog-img-wrap">
                            <img src="assets/blog/blog_img001.jpg" alt="mazel" />
                        </div>
                        <div class="blog-box-content">
                            <div class="tag">
                                <a href="#">Digitel</a>
                            </div>
                            <h5 class="blog-title"><a href="#">The most recent releases from our community</a></h5>
                            <p class="info">
                                <span>by <a href="#">Admin</a></span>
                                <span><i class="ti-timer"></i><span>29 Jan 2017</span></span>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Blog Item -->
                <div class="item">
                    <div class="blog-box">
                        <div class="blog-img-wrap">
                            <img src="assets/blog/blog_img002.jpg" alt="mazel" />
                        </div>
                        <div class="blog-box-content">
                            <div class="tag">
                                <a href="#">Digitel</a>
                            </div>
                            <h5 class="blog-title"><a href="#">Huge Saving Limited Offer period</a></h5>
                            <p class="info">
                                <span>by <a href="#">Admin</a></span>
                                <span><i class="ti-timer"></i><span>29 Jan 2017</span></span>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Blog Item -->
                <div class="item">
                    <div class="blog-box">
                        <div class="blog-img-wrap">
                            <img src="assets/blog/blog_img003.jpg" alt="mazel" />
                        </div>
                        <div class="blog-box-content">
                            <div class="tag">
                                <a href="#">Digitel</a>
                            </div>
                            <h5 class="blog-title"><a href="#">New Lunched Vintage Collaction 2017</a></h5>
                            <p class="info">
                                <span>by <a href="#">Admin</a></span>
                                <span><i class="ti-timer"></i><span>29 Jan 2017</span></span>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Blog Item -->
                <div class="item">
                    <div class="blog-box">
                        <div class="blog-img-wrap">
                            <img src="assets/blog/blog_img004.jpg" alt="mazel" />
                        </div>
                        <div class="blog-box-content">
                            <div class="tag">
                                <a href="#">Digitel</a>
                            </div>
                            <h5 class="blog-title"><a href="#">The most recent releases from our community</a></h5>
                            <p class="info">
                                <span>by <a href="#">Admin</a></span>
                                <span><i class="ti-timer"></i><span>29 Jan 2017</span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
