<section class="section-padding-b">
    <div class="container">
        <div class="brand-logo-carousel owl-carousel owl-theme">
            <div class="item">
                <a href="#">
                    <img src="assets/logo/01.png" alt="Mazel" /></a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/logo/02.png" alt="Mazel" /></a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/logo/03.png" alt="Mazel" /></a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/logo/04.png" alt="Mazel" /></a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/logo/05.png" alt="Mazel" /></a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/logo/06.png" alt="Mazel" /></a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/logo/07.png" alt="Mazel" /></a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/logo/08.png" alt="Mazel" /></a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/logo/09.png" alt="Mazel" /></a>
            </div>
        </div>
    </div>
</section>
