<section>
    <div class="container">
        <div class="row">
            <h3 class="page-title">Deal Of the Days</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--Item 1-->
            <div class="col-lg-6">
                <div class="border-box-lg hot-product">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-item-img">
                                <div class="product-item-img-wrap">
                                    <img src="assets/product-img/product_125470001.jpg" alt="mazel" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="product-item-content">
                                <!--Item Title-->
                                <a class="product-title" href="product_detail.html">Coolpad Coll (4GB, 32GB) 13MP Camera</a>
                                <!--Star ratting-->
                                <div class="product-rating">
                                    <div class="star-rating">
                                        <span style="width: 60%;"></span>
                                    </div>
                                </div>
                                <!--Item Price-->
                                <div class="product-price"><del>$299.00</del>$199.00<span class="price-discount-label">-33%</span></div>

                                <div class="btn btn-sm mtb-20">Buy Now</div>

                                <!-- Item End Time Clock -->
                                <div class="item-offer-clock">
                                    <p class="small">Offer End In</p>
                                    <ul class="countdown-clock" data-end-date="06/29/2018 12:00:00" data-utc="+5" data-end-message="WOOT WOOT, done!">
                                        <li>
                                            <span class="days">00</span>
                                            <p class="days_ref">days</p>
                                        </li>
                                        <li class="seperator">:</li>
                                        <li>
                                            <span class="hours">00</span>
                                            <p class="hours_ref">hrs</p>
                                        </li>
                                        <li class="seperator">:</li>
                                        <li>
                                            <span class="minutes">00</span>
                                            <p class="minutes_ref">min</p>
                                        </li>
                                        <li class="seperator">:</li>
                                        <li>
                                            <span class="seconds">00</span>
                                            <p class="seconds_ref">sec</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Item 2-->
            <div class="col-lg-6">
                <div class="img-cover-wrap" style="min-height: 332.5px;">
                    <div class="img-cover round-sm" style="background-image: url('img/bg/bg_2.jpg')"></div>
                </div>
            </div>
        </div>
    </div>
</section>
