<section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-md bg-sky">
                            <p class="small">Template for the best CMS like Wordpress and Joomla, e-commerce templates for WooCommerce, Shopify and more... A huge Library with top-quality themes and templates collections to save.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-md bg-sky">
                            <p class="small">Template for the best CMS like Wordpress and Joomla, e-commerce templates for WooCommerce, Shopify and more... A huge Library with top-quality themes and templates collections to save.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>