<section id="intro" class="intro">
    <!-- Revolution Slider -->
    <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="background-color: transparent; padding: 0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
        <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display: none;" data-version="5.3.0.2">
            <ul>
                <li class="dark-bg" data-index="rs-1" data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="01">
                    <!-- Main Image Layer 0-->
                    <img src="assets/slide-img/slide_bg1.jpg" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />


                    <!--Layer 1-->
                    <img src="assets/slide-img/people_2214.png" class="tp-caption NotGeneric-Title tp-resizeme"
                        data-x="right"
                        data-y="bottom"
                        data-hoffset="120"
                        data-voffset="-10"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="500"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on" />


                    <!--Layer 1-->
                    <h1 class="tp-caption NotGeneric-Title tp-resizeme white text-center" style="letter-spacing: 0px; line-height: 60px;"
                        data-x="135"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="-80"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:100px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="500"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">50% Off<br />
                        On All Men's Clothes
                    </h1>


                    <!--Layer 2-->
                    <h4 class="tp-caption NotGeneric-Title tp-resizeme h4 white text-center" style="letter-spacing: 0px;"
                        data-x="190"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="20"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="800"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">A great selection of superb brands
                    </h4>

                    <!--Layer 3-->
                    <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md"
                        data-x="290"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="100"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="1100"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Shop Now
                    </a>


                </li>
                <li data-index="rs-2" data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="02">
                    <!-- Main Image Layer 0-->
                    <img src="assets/slide-img/slide_bg2.jpg" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />
                    <!-- LAYERS -->

                    <!--Layer 0-->
                    <img src="assets/camera_d500.png" class="tp-caption NotGeneric-Title tp-resizeme"
                        data-x="right"
                        data-y="center"
                        data-hoffset="100"
                        data-voffset="-10"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="500"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on" />


                    <!--Layer 1-->
                    <h1 class="tp-caption NotGeneric-Title tp-resizeme white" style="letter-spacing: 0px; line-height: 60px;"
                        data-x="100"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="-80"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:100px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="500"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">High Quality<br />
                        Digitel Camera D500
                    </h1>


                    <!--Layer 2-->
                    <h4 class="tp-caption NotGeneric-Title tp-resizeme h4 white" style="letter-spacing: 0px;"
                        data-x="100"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="20"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="800"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Only $899.00
                    </h4>

                    <!--Layer 3-->
                    <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md"
                        data-x="105"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="100"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="1100"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Shop Now
                    </a>
                </li>
                <li data-index="rs-3" data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="03">
                    <!-- Main Image Layer 0-->
                    <img src="assets/slide-img/slide_bg3.jpg" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />
                    <!-- LAYERS -->

                    <!--Layer 0-->
                    <img src="assets/slide-img/gym_2455.png" class="tp-caption NotGeneric-Title tp-resizeme"
                        data-x="right"
                        data-y="center"
                        data-hoffset="100"
                        data-voffset="-10"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="500"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on" />


                    <!--Layer 1-->
                    <h1 class="tp-caption NotGeneric-Title tp-resizeme" style="letter-spacing: 0px; line-height: 60px;"
                        data-x="100"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="-80"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:100px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="500"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Exercise Bench<br />
                        Find Almost Any Gym
                    </h1>


                    <!--Layer 2-->
                    <h4 class="tp-caption NotGeneric-Title tp-resizeme h4" style="letter-spacing: 0px;"
                        data-x="100"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="20"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="800"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Health equipment exercise bench
                    </h4>

                    <!--Layer 3-->
                    <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md"
                        data-x="105"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="100"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="1100"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Shop Now
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- End Revolution Slider -->
</section>
