<section class="section-padding">
    <div class="container">
        <div class="row">
            <h3 class="page-title">Newest Product</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--Product Slider-->
            <div class="product-item-4 owl-carousel owl-theme">

                <!-- Item -->
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470001.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Whishlist"><i class="ti-heart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Quick View"><i class="ti-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag">Men Fashion</a>
                            <a class="product-title" href="product_detail.html">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span style="width: 60%;"></span>
                                </div>
                                <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                            </div>
                            <p class="product-description">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.</p>
                            <div class="product-price"><del>$299.00</del>$199.00</div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470002.jpg" alt="mazel" />
                            </div>
                            <div class="sale-label">Sale</div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Whishlist"><i class="ti-heart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Quick View"><i class="ti-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag">Men Fashion</a>
                            <a class="product-title" href="product_detail.html">Dcmr Enterprise Beige Analog Watch for Boys</a>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span style="width: 60%;"></span>
                                </div>
                                <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                            </div>
                            <p class="product-description">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.</p>
                            <div class="product-price"><del>$299.00</del>$199.00</div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470003.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Whishlist"><i class="ti-heart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Quick View"><i class="ti-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag">Men Fashion</a>
                            <a class="product-title" href="product_detail.html">Puma Strike Fashion Iii Idp Gray Running Shoes</a>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span style="width: 60%;"></span>
                                </div>
                                <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                            </div>
                            <p class="product-description">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.</p>
                            <div class="product-price"><del>$299.00</del>$199.00<span class="price-discount-label">-33%</span></div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470004.jpg" alt="mazel" />
                            </div>
                            <div class="new-label">New</div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Whishlist"><i class="ti-heart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Quick View"><i class="ti-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag">Men Fashion</a>
                            <a class="product-title" href="product_detail.html">Mt-G Analog Digital Wrist Watch For Boys</a>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span style="width: 60%;"></span>
                                </div>
                                <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                            </div>
                            <p class="product-description">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.</p>
                            <div class="product-price"><del>$299.00</del>$199.00</div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470005.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Whishlist"><i class="ti-heart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Quick View"><i class="ti-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag">Men Fashion</a>
                            <a class="product-title" href="product_detail.html">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span style="width: 60%;"></span>
                                </div>
                                <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                            </div>
                            <p class="product-description">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.</p>
                            <div class="product-price"><del>$299.00</del>$199.00</div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470001.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Whishlist"><i class="ti-heart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Quick View"><i class="ti-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag">Men Fashion</a>
                            <a class="product-title" href="product_detail.html">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span style="width: 60%;"></span>
                                </div>
                                <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                            </div>
                            <p class="product-description">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.</p>
                            <div class="product-price"><del>$299.00</del>$199.00</div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470002.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Whishlist"><i class="ti-heart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Quick View"><i class="ti-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag">Men Fashion</a>
                            <a class="product-title" href="product_detail.html">Dcmr Enterprise Beige Analog Watch for Boys</a>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span style="width: 60%;"></span>
                                </div>
                                <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                            </div>
                            <p class="product-description">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.</p>
                            <div class="product-price"><del>$299.00</del>$199.00</div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470003.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Whishlist"><i class="ti-heart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Quick View"><i class="ti-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag">Men Fashion</a>
                            <a class="product-title" href="product_detail.html">Puma Strike Fashion Iii Idp Gray Running Shoes</a>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span style="width: 60%;"></span>
                                </div>
                                <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                            </div>
                            <p class="product-description">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.</p>
                            <div class="product-price"><del>$299.00</del>$199.00</div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470004.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Whishlist"><i class="ti-heart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Quick View"><i class="ti-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag">Men Fashion</a>
                            <a class="product-title" href="product_detail.html">Mt-G Analog Digital Wrist Watch For Boys</a>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span style="width: 60%;"></span>
                                </div>
                                <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                            </div>
                            <p class="product-description">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.</p>
                            <div class="product-price"><del>$299.00</del>$199.00</div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470005.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Cart"><i class="ti-shopping-cart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Add To Whishlist"><i class="ti-heart"></i></a>
                                <a href="#" rel="tooltip" data-placement="right" title="Quick View"><i class="ti-eye"></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag">Men Fashion</a>
                            <a class="product-title" href="product_detail.html">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span style="width: 60%;"></span>
                                </div>
                                <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                            </div>
                            <p class="product-description">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.</p>
                            <div class="product-price"><del>$299.00</del>$199.00</div>
                        </div>
                    </div>
                </div>

            </div>
            <!--End Product Slider-->
        </div>
    </div>
</section>
