<section class="promo">
            <div class="container">
                <div class="promo-box row">
                    <!--Item-->
                    <div class="col-md-4 mt-sm-2 promo-item">
                        <div class="icon">
                            <br><img src="assets/product-img/delivery.png" alt="" />
                        </div>
                        <div class="info">
                            <h4>Livraison gratuite</h4>
                            <p>Livraison gratuite  pour toute commande supérieure à 80&#128</p>
                        </div>
                    </div>

                    <!--Item-->
                    <div class="col-md-4 mt-sm-2 promo-item">
                        <div class="icon">
                           <br><img src="assets/product-img/reply.png" alt="" />
                        </div>
                        <div class="info">
                            <h4>Retours</h4>
                            <p>Retours dans les 7 jours.</p>
                        </div> 
                    </div>

                    <!--Item-->
                    <div class="col-md-4 mt-sm-2 promo-item">
                        <div class="icon">
                            <br><img src="assets/product-img/call-center.png" alt="" />
                        </div>
                        <div class="info">
                            <h4>Support 24/7</h4>
                            <p>Assistance consommateur en ligne.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>