<section class="section-padding">
    <div class="container">
        <div class="row">
            <h3 class="page-title">Shop By Categories</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="categories-block">
                    <div class="categories-img-wrap">
                        <img src="assets/categories/sound.jpg" alt="mazel" />
                    </div>
                    <div class="categories-content">
                        <p><a href="#">Sound Accesories</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="categories-block">
                    <div class="categories-img-wrap">
                        <img src="assets/categories/furniture.jpg" alt="mazel" />
                    </div>
                    <div class="categories-content">
                        <p><a href="#">Furniture</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="categories-block">
                    <div class="categories-img-wrap">
                        <img src="assets/categories/mobile.jpg" alt="mazel" />
                    </div>
                    <div class="categories-content">
                        <p><a href="#">Mobile</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="categories-block">
                    <div class="categories-img-wrap">
                        <img src="assets/categories/clothd_fashion.jpg" alt="mazel" />
                    </div>
                    <div class="categories-content">
                        <p><a href="#">Cloths & Fashion</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
