<section class="section-padding">
    <div class="container">
        <div class="row">
            <h3 class="page-title">Articles</h3> 
        </div>
    </div>
    <div class="container">
        <div class="row">            
            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_12547000.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag">Chat Guerrieros</a>
                            <a class="product-title" href="/items/1">Chat Guevara</a>
                            <p class="product-description">Célèbre portrait du Chat Guevara.</p>
                            <div class="product-price"><del>$29.99</del>$59.99</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470002.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag"></a>
                            <a class="product-title" href="/items/1">Chapins</a>
                            <p class="product-description">Croisement de chat et de lapin.</p>
                            <div class="product-price"><del>$59.00</del>$39.00</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470003.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag"></a>
                            <a class="product-title" href="/items/1">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-price"><del>$59.00</del>$39.00</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_12547.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag"></a>
                            <a class="product-title" href="/items/1">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-price"><del>$59.00</del>$39.00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470005.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></i></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag"></a>
                            <a class="product-title" href="/items/1">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-price"><del>$59.00</del>$39.00</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470006.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag"></a>
                            <a class="product-title" href="/items/1">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-price"><del>$59.00</del>$39.00</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470007.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag"></a>
                            <a class="product-title" href="/items/1">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-price"><del>$59.00</del>$39.00</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470008.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag"></a>
                            <a class="product-title" href="/items/1">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-price"><del>$59.00</del>$39.00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_125470009.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag"></a>
                            <a class="product-title" href="/items/1">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-price"><del>$59.00</del>$39.00</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_1254700010.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag"></a>
                            <a class="product-title" href="/items/1">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-price"><del>$59.00</del>$39.00</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_1254700011.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag"></a>
                            <a class="product-title" href="/items/1">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-price"><del>$59.00</del>$39.00</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="product-item-4 owl-carousel owl-theme">
                <div class="item">
                    <div class="product-item">
                        <div class="product-item-img">
                            <div class="product-item-img-wrap">
                                <img src="assets/product-img/product_1254700012.jpg" alt="mazel" />
                            </div>
                            <div class="product-button">
                                <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="assets/product-img/shopping-cart.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="product-item-content">
                            <a class="tag"></a>
                            <a class="product-title" href="/items/1">Coolpad Coll (4GB, 32GB) 13MP</a>
                            <div class="product-price"><del>$59.00</del>$39.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

