<section class="topbar bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <p class="info"></p>
                <p class="info"><span class=""></span></p>
            </div>
            <div class="col-md-6 text-lg-right text-md-left">
                <ul class="links">
                    <li class="">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="hidden-sm-down">Mon compte</span></a>
                        <div class="dropdown-menu">
                            <a href="login-register.html" class="dropdown-item">Mon compte</a>
                            <a href="/historique" class="dropdown-item">Historique</a>
                            <a href="/retours" class="dropdown-item">Mes retours</a>
                            <a href="/listes" class="dropdown-item">Liste d'envies</a>
                            <a href="checkout.html" class="dropdown-item">Panier</a>
                        </div>
                    </li>

                    <li>
                        <a href="#">Information</a>
                    </li>
                    <li>
                        <a href="/users/sign_in">Se connecter</a>
                    </li>
                    <li>
                        <a href="/users/sign_up">S'inscrire</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
