<section class="topbar bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <p class="info"></p>
                <p class="info"><span class=""></span></p>
            </div>
            <div class="col-md-6 text-lg-right text-md-left">
                <ul class="links">
                    <li class="">
                    <% if logged_in? %>
                        <a href="/user/" class="dropdown-toggle" data-toggle="dropdown"><span class="hidden-sm-down">Mon compte</span></a>
                        <div class="dropdown-menu">
                            <a href="login-register.html" class="dropdown-item">Mon compte</a>
                            <a href="/home/cart" class="dropdown-item">Panier</a>
                        </div>
                    </li>

                    <li>
                        <a href="https://www.thehackingproject.org/">Information</a>
                    </li>
                    <li><%= link_to "Déconnexion", logout_path, method: :delete %></li>
                    <% else %>
                    <li>
                        <a href="/users/sign_in">Se connecter</a>
                    </li>
                    <li>
                        <a href="/users/sign_up">S'inscrire</a>
                    </li>
                    <li>
                        <a href="https://www.thehackingproject.org/">Information</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>