<section class="topbar bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <p class="info"><i class="fa fa-headphones left"></i>+ 00 123 456 7890</p>
                <p class="info">Ending soon: Save up to $300!<span class="coupon">Code : SHOPMAZ</span></p>
            </div>
            <div class="col-md-6 text-lg-right text-md-left">
                <ul class="links">
                    <li class="">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user left hidden-md-up"></i><span class="hidden-sm-down">My Account</span></a>
                        <div class="dropdown-menu">
                            <a href="login-register.html" class="dropdown-item">My Account</a>
                            <a href="#" class="dropdown-item">Order History</a>
                            <a href="#" class="dropdown-item">Returns</a>
                            <a href="#" class="dropdown-item">My Wishlist</a>
                            <a href="checkout.html" class="dropdown-item">Checkout</a>
                            <div class="dropdown-divider"></div>
                            <a href="login-register.html" class="dropdown-item">Login</a>
                            <a href="login-register.html" class="dropdown-item">Create an Account</a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe left hidden-md-up"></i><span class="hidden-sm-down">English</span></a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">USD</a>
                            <a href="#" class="dropdown-item">EUR</a>
                            <a href="#" class="dropdown-item">GBP</a>
                            <a href="#" class="dropdown-item">AUD</a>
                        </div>
                    </li>
                    <li>
                        <a href="#">Shipping</a>
                    </li>
                    <li>
                        <a href="#">Information</a>
                    </li>
                    <li>
                        <a href="login-register.html">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
