<h1>Index products</h1>
<% if  @products.empty? %>
  <%= "Pas de products pour le moment faites rails db:seed "%>
<% else

  @products.each do |product|%>
    <p>
      <%=link_to "title = "+ product.product_title, product%>
    </p>
  <% end

end %>
