<!-- Footer -->
        <footer class="footer">

            <!-- Newsletter -->
            <div class="container">
                <form class="footer_newsletter">
                    <label class="h4">S'inscrire à la Newsletter</label>
                    <input class="input-lg" type="email" placeholder="Entrez votre email" />
                    <button class="btn btn-lg btn-color" type="submit">S'inscrire</button>
                </form>
            </div>
            <!-- End Newsletter -->

            <!-- footer Info -->
            <div class="container ptb-15">
                <div class="row">

                    <!-- About -->
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="footer-block about-us-block">
                            <h5>A propos</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo mi non lacus consectetur, eu elementum odio scelerisque. Fusce commodo, metus in congue eleifend, arcu elit lobortis nisl, commodo viverra magna purus vel magna. Nunc aliquam sollicitudin nisl et gravida. Nunc ac mi eu orci iaculis maximus at quis lacus.</p>
                            <ul class="footer-social-icon list-none-ib">
                                <li><a href="http://facebook.com/" target="_blank"></i>&#131</a></li>
                                <li><a href="https://twitter.com/" target="_blank">T</a></li>
                                <li><a href="https://www.pinterest.com/" target="_blank">&#8471;</a></li>
                                <li><a href="https://plus.google.com/" target="_blank">G</a></li>
                                <li><a href="https://www.instagram.com/" target="_blank">Inst</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Links -->
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="footer-block links">
                            <h6>Information</h6>
                            <ul>
                                <li><a href="#">Terms &amp; Condition</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="footer-block links">
                            <h6>Shop</h6>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Latest News</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Condition</a></li>
                            </ul>
                        </div>
                    </div>

                    <!--Contact-->
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-block contact-block">
                            <h6>Contact</h6>
                            <ul>
                                <li>Team Bordeaux
                                    <br>
                                    1 rue de Paris<br>
                                    33000 BORDEAUX</li>
                                <li><a href="mailto:thp.gironde@gmail.com">thp.gironde@gmail.com</a></li>
                                <li>04.22.52.10.10</li>                               
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- footer Info -->

            <div class="copyright-bar container-fluid">
                <div class="row">
                    <div class="container">
                        <div class="copyright">
                            <p>&copy; Created by <a>Team Bordeaux</a>. THP Shop Responsive Ecommerce Theme 2018</p>
                            <img src="assets/payment_logos.png" alt="Mazel Shop" />
                        </div>
                    </div>
                </div>
            </div>

        </footer>